.CartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .CartItemDetails {
    display: flex;
    align-items: center;
  }
  
  .CartItemImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .CartItemInfo {
    flex: 1;
  }
  
  .CartItemRemoveButton {
    background-color: transparent;
    border: none;
    color: rgba(72, 158, 154, 0.6784313725);
    cursor: pointer;
  }
  
  .clear-cart-button {
    color:  rgba(72, 158, 154, 0.6784313725); 
    text-decoration: none;
    display: flex;
    justify-content: right;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: 150px;
    border: none;
    text-align: center;
    width: auto;
    background-color: transparent;
  }

  .terminar-compra-button {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }

  .precio-total {
    display: flex;
    justify-content: right;
    margin-right: 150px;
    margin-bottom: -40px;
  }

  .total {
    margin-right: auto;
    margin-left: 150px;
  }