.ListGroup {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  @media (max-width: 992px) {
    .ListGroup {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 576px) {
    .ListGroup {
      grid-template-columns: 1fr; 
    }
  }